@import url("https://use.typekit.net/lik6wyg.css");

@keyframes transitionLoad {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: #12182B;
  --spacing: 350px;

  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 8px;
  animation: transitionLoad 2s;
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    border-radius: 8px;
    animation: slidein 3.5s;
  }

  @media screen and (max-width: 800px) {
    header, section {
      grid-column: 2 / span 1; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
